*{margin:0;padding:0;}
	div{border:2px; border-style:transparent; border-color:yellow;}
	
	#header{
	width:100%;
	height:40px;
	background:#b30429;
	}
	#header_info{
	width:960px;
	margin:0 auto;
	height:40px;
	}
	#address{
	padding-top:10px;
	float:left;
	}
	#call{
	padding-top:10px;
	padding-left:30px;
	}
	#msg{
	padding-top:10px;
	padding-left:40px;
	}
	#header_info span{
	font-size:12px;
	color:#fff;
	font-family:verdana,geneva,sans-serif;
	line-height:40px;
	}
	#icons{
	float:right;
	overflow:hidden;
	width:250px;
	height:37px;
	}
	.image-holder{
	float:right;
	margin:5 0 5 5;
	}
	#banner{
	position:relative;
	width:100%;
	height:543px;
	}
	.logo{
	position:absolute;
	top:-15px;
	left:16%;
	width:20%;
	height:24%;
	}
	#menu_bar{
		position:absolute;
		width:753px;
		height:100px;
		top:40px;
		left:37%;
	}
	#menu_bar ul li{
		display:inline;
		margin-right:30px;
	}
	#menu_bar ul li a{
		text-decoration:none;
		font-size:16px;
		color:#fff;
		font-family:verdana,geneva,sans-serif;
		padding:10px;
		border-radius:5px;
	}
	#menu_bar ul li a:hover{
		background:#b30429;
	}
	#para1{
		position:absolute;
		color:#fff;
		top:63%;
		left:38.5%;
		font-size:50px;
		font-family:verdana,sans-serif;
	}
	#para2{
		position:absolute;
		color:#fff;
		top:77%;
		left:36%;
		font-size:35px;
		font-family:verdana,geneva,sans-serif;
	}
	#body1{
		width:100%;
		height:400px;
		background:#fff;
	}
	#content{
		width:960px;
		height:400px;
		position:relative;
		margin:0 auto;
	}
	#b1{
		width:40%;
		position:absolute;
		top:30px;
	}
	#b2{
		position:absolute;
		width:57%;
		height:350px;
		top:30px;
		left:400px;
	}
	#b2 h2{
		position:absolute;
		font-size:35px;
		font-family:verdana,geneva,sans-serif;
		top:10px;
	}
	.pink_line{
		position:absolute;
		width:54px;
		height:5px;
		background:#b30429;
		top:47px;
		left:108px;
	}
	#para4{
		position:absolute;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
		top:100px;
		text-align:justify;
	}
	#body2{
	background-image:url("../images/body2_image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: verdana, geneva, sans-serif;
	height:450px;
	}
	#b3{
		width:960px;
		height:450px;
		margin:0 auto;
		position:relative;
	}
	#awards{
		position:absolute;
		color:#fff;
		font-size:50px;
		top:50px;
		font-family:verdana,geneva,sans-serif;
	}
	#proud{
		position:absolute;
		color:#fff;
		font-size:35px;
		top:120px;
		font-family:verdana,geneva,sans-serif;
	}
	.pink_line1{
		position:absolute;
		width:57px;
		height:5px;
		background:#b30429;
		top:157px;
		left:6;
	}
	#b3 p{
		position:absolute;
		font-size:16px;
		color:#fff;
		font-family:verdana,geneva,sans-serif;
		top:210px;
		text-align:justify;
	}
	#award_images{
		width:66%;
		position:absolute;
		top:60px;
		left:390px;
	}
	.awards1, .awards2, .awards3{
    margin:10px;
	}
	#body3{
		background-image:url("../images/image07.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		width:100%;
		height:450px;
	}
	#b4{
		width:960px;
		height:450px;
		margin:0 auto;
		position:relative;
		font-family:verdana,geneva,serif;
	}
	#b4 h2{
		position:absolute;
		font-size:35px;
		color:#000;
		top:120px;
	}
	#b4 p{
		position:absolute;
		font-size:16px;
		color:#000;
		top:190px;
		text-align:justify;
	}
	#b4 a{
		position:absolute;
		font-size:16px;
		color:#fff;
		top:290px;
		background:#b30429;
		text-decoration:none;
		padding:20px 40px 20px 40px;
		border-radius:5px;
	}
	#body4{
		width:100%;
		height:458px;
		background:#b30429;
	}
	#b5{
		width:960px;
		height:458px;
		margin:0 auto;
		position:relative;
		font-family:verdana,geneva,sans-serif;
	}
	#testimonials{
		position:absolute;
		color:#fff;
		font-size:45px;
		top:50px;
		left:30%;
	}
	#people{
		position:absolute;
		color:#fff;
		font-size:35px;
		top:120px;
		left:28%;
	}
	.box_1{
		position:absolute;
		width:450px;
		height:150px;
		top:230px;
		left:25px;
	}
	.box_2{
		position:absolute;
		width:450px;
		height:150px;
		top:230px;
		right:0px;
	}
	#comment1{
		position:absolute;
		top:200px;
		left:25px;
	}
	.box_1 p,.box_2 p{
		color:#fff;
		position:absolute;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
		top:0px;
		text-align:justify;
	}
	#comment2{
		position:absolute;
		top:200px;
		left:510px;
	}
	#footer2{
		width:100%;
		height:100px;
		background:#000;
	}
	#content1{
		position:relative;
		width:960px;
		height:100px;
		margin:0 auto;
		font-family:verdana,geneva,sans-serif;
	}
	.copyright{
		position:absolute;
		left:35%;
		top:20px;
	}
	#content1 p{
		color:#fff;
		position:absolute;
		left:37%;
		top:20px;
		font-size:16px;
	}
	#icon1{
		position:absolute;
		top:65px;
		left:42%;
	}
	#icon2{
		position:absolute;
		top:65px;
		left:45%;
	}
	#icon3{
		position:absolute;
		top:65px;
		left:48%;
	}
	#content1 span{
		color:#b30429;
	}