	*{margin:0;padding:0;}
	div{border:2px; border-style:transparent; border-color:yellow;}
	
	#header{
	width:100%;
	height:40px;
	background:#b30429;
	}
	#header_info{
	width:960px;
	margin:0 auto;
	height:40px;
	}
	#address{
	padding-top:10px;
	float:left;
	}
	#call{
	padding-top:10px;
	padding-left:30px;
	}
	#msg{
	padding-top:10px;
	padding-left:40px;
	}
	#header_info span{
	font-size:12px;
	color:#fff;
	font-family:verdana,geneva,sans-serif;
	line-height:40px;
	}
	#icons{
	float:right;
	overflow:hidden;
	width:250px;
	height:37px;
	}
	.image-holder{
	float:right;
	margin:5 0 5 5;
	}
	#header2{
		position:relative;
		background:#1d2027;
		height:100px;
	}
	.logo{
	position:absolute;
	top:-15px;
	left:16%;
	width:20%;
	height:130%;
	}
	#menu_bar{
		position:absolute;
		width:753px;
		height:100px;
		left:37%;
		top:40px;
	}
	#menu_bar li{
		display:inline;
		margin-right:30px;	
	}
	#menu_bar li a{
		text-decoration:none;
		color:#fff;
		padding:10px;
		border-radius:5px;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
	}
	#menu_bar li a:hover{
		background:#b30429;
	}
	#body1{
		width:960px;
		height:300px;
		color:#fff;
		margin:0 auto;
	}
	#body1 h2{
		color:#000;
		font-family:verdana,geneva,sans-serif;
		font-size:35px;
		padding-top:80px;
		text-align:center;
	}
	#body1 p{
		color:#000;
		font-family:verdana,geneva,sans-serif;
		font-size:17px;
		padding-top:40px;
		text-align:justify;
	}
	#gallery{
		position:relative;
		width:960px;
		height:1015px;
		color:#fff;
		margin:0 auto;
	}
	.pic1{
		position:absolute;
	}
	.pic2{
		position:absolute;
		left:323px;
	}
	.pic3{
		position:absolute;
		right:0;
	}
	.pic4{
		position:absolute;
		top:307px;
	}
	.pic5{
		position:absolute;
		top:307px;
		left:323px;
	}
	.pic6{
		position:absolute;
		right:0;
		top:307px;
	}
	.pic7{
		position:absolute;
		top:615px;
	}
	.pic8{
		position:absolute;
		top:615px;
		left:323px;
	}
	.pic9{
		position:absolute;
		right:0;
		top:615px;
	}
	#footer2{
		width:100%;
		height:100px;
		background:#000;
	}
	#content{
		position:relative;
		width:960px;
		height:100px;
		margin:0 auto;
	}
	.copyright{
		position:absolute;
		left:35%;
		top:20px;
	}
	#content p{
		color:#fff;
		position:absolute;
		left:37%;
		top:20px;
		font-size:16px;
		font-family:verdana,geneva,sans-serif;
	}
	#icon1{
		position:absolute;
		top:65px;
		left:42%;
	}
	#icon2{
		position:absolute;
		top:65px;
		left:45%;
	}
	#icon3{
		position:absolute;
		top:65px;
		left:48%;
	}
	#content span{
		color:#b30429;
	}